
  @media screen and (min-width: 480px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 56px;
    }
    .main-table {
        display: flex;
        flex-direction: column;
        width: 100%; 
      }
    
      .main-table > div {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f9f9f9; 
      }
    
      .main-table > div:nth-child(even) {
        background-color: #ddd;
      }
    
      .main-table span {
        font-weight: bold;
      }
      .item-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
  }


  @media screen and (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
      }
    
      .item-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }

      .main-table {
        width: 100%;
        padding: 0;
      }
    
     .item-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .table-fee {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
      }
    
      .main-table {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .main-table > div {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f9f9f9; 
    }
    
    .main-table > div:nth-child(even) {
        background-color: #ddd;
    }
    
    .main-table span {
        font-weight: bold;
    }
    
      .back-btn button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    
      .back-btn img {
        width: 40px;
        height: auto;
      }
  }

  
    @media screen and (min-width: 768px){
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .main-table {
            display: flex;
            flex-direction: column;
            width: 400px; 
        }
        
        .main-table > div {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #f9f9f9; 
        }
        
        .main-table > div:nth-child(even) {
            background-color: #ddd;
        }
        
        .main-table span {
            font-weight: bold;
        }
        
        .item-image {
            width: 500px;
            height: 500px;
        }
    }

    .item-image {
        border-radius: 5px;
        object-fit: contain;
    }


    .bk-btn {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
        background-color: transparent;
        border: none;
    }

    .bk-btn * {
        font-size: 24px;
    }


    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 56px;
    }