.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.app-container {
  position: relative;
  display: flex;
  flex-direction: column;

}

.App-content {
  margin-left: 16vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  scroll-behavior: smooth;
  position: relative;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

.app-color {
  position: absolute;
  z-index: -1;
  filter: blur(120px);
}

.app-color-1 {
  top: 0;
  left: 8rem;
  width: 100rem;
  height: 20rem;
  background-color: #ff359b;
}

.app-color-2 {
  bottom: 0;
  right: 1rem;
  width: 100rem;
  height: 20rem;
  background-color: #fffd87;
}

.app-color-3 {
  left: 5rem;
  top: 15rem;
  width: 60rem;
  height: 40rem;
  background-color: #00d2ff;
}

.App-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 16vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.nav {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  width: 100%;
  flex: 1;
  padding-left: 2rem;
}

.nav a {
  padding: 1rem 0;
  font-size: 1.6rem;
  /* background-image: linear-gradient(to right, rgb(253, 57, 237), rgb(131, 2, 37)); */
  width: calc(100% - 2rem);
  text-decoration: none;
  color: #777;
  
  position: relative;
  z-index: 10;
}

.nav a:hover {
  background-image: linear-gradient(to right, rgb(253, 57, 237), rgb(131, 2, 37));
  color: #fff;
}

.nav a.active {
  background-image: linear-gradient(to right, rgb(253, 57, 237), rgb(131, 2, 37));
  color: #fff;
}

.log-out-btn {
  outline: none;
  border: none;
  padding: 1rem 0;
  width: calc(100% - 2rem);
  background-image: linear-gradient(to right, rgb(99, 168, 247), rgb(2, 49, 131));
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.img-container {
  width: 10rem;
  height: 10rem;
}

.img-container img {
  width: 100px;
  height: 100px;
}

.app-social {
  display: flex;
  gap: 1rem;
}

.app-social * {
  cursor: pointer;
}